Pular para o conteúdo principal
Google Sala de Aula
Google Sala de Aula
Programacao Front-End - 2º Ano B Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
Início
Agenda
Recursos
Novo
Cursos
Para corrigir
B
Biologia - 1º Ano A Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia - 1º Ano B Manha - Médio
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia - 1º Ano C Manha - Médio
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia - 1º Ano D Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia - 2º Ano A Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia - 2º Ano B Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia - 2º Ano C Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia - 2º Ano D Manha - Médio
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
B
Biologia Ii - 3º Ano D Manha - Médio
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
C
Computacao Grafica - 3º Ano B Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
P
Programacao Front-End - 2º Ano B Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS
C
CEP - 1ºB Prótes - Grupo 6 - Investigação
Projeto Investigação
B
Biologia - 1º Ano B Tarde - Médio Integrado
PARANA, C E DO-EF M PROFIS
Minhas inscrições
Pendentes
F
FORM EM ACAO | Projeto InvestigAÇÃO | TB | TARDE | 1°TRI
FORMADORES EM AÇÃO
F
FORM EM ACAO | Projeto InvestigAÇÃO | TE | TARDE | 1°TRI
FORMADORES EM AÇÃO
P
PROFESSORES C.E.C.M. PROFESSOR JÚLIO MESQUITA
MATERIAL DE APOIO
Turmas arquivadas
Configurações
Mural
Atividades
Pessoas
Notas
Programacao Front-End - 2º Ano B Manha - Médio Integrado
JULIO MESQUITA, C E C-M PROF-EF M PROFIS

Meet
Não visível para os alunos
Código da turma:
cmrkin7
Próximas atividades
Nenhuma atividade para a próxima semana

Escreva um aviso para sua turma

Aviso: "arquivo reset"
WESLLY FRANCO
Criado em: 08:1908:19
arquivo reset

reset.css
CSS

Adicionar comentário para a turma...

Pergunta: "Envie o link do repositório barbearia alura pt1"
WESLLY FRANCO postou uma nova pergunta: Envie o link do repositório barbearia alura pt1
Criado em: 28 de fev.28 de fev.

Aviso: "Link do meu repositório para acompanhar…"
WESLLY FRANCO
Criado em: 19 de fev.19 de fev.
Link do meu repositório para acompanhar aula a aula
A aula 1 é o arquivo main

https://github.com/professor-weslly/barbearia_alura_pt1_2b_2025.git

Adicionar comentário para a turma...


Aviso: "Texto base e imagens para o projeto…"
WESLLY FRANCO
Criado em: 19 de fev.19 de fev.
Texto base e imagens para o projeto barbearia alura
Exibindo banner.jpg
banner.jpg

Texto base.txt
Texto

beneficios.jpg
Imagem

Adicionar comentário para a turma...

Mural
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
reset.css
Exibindo reset.css…
